@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(58, 123, 253, 0.4); }

html {
  font-size: 62.5%; }

body {
  background-color: #fafafa;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 40vh;
  background-position: top center;
  height: 100vh; }
  @media (max-width: 600px) {
    body {
      background-image: url(../../images/bg-mobile-light.jpg); } }

.body-bg-dark {
  background-color: #161722;
  background-image: url(../../images/bg-desktop-dark.jpg); }
  @media (max-width: 600px) {
    .body-bg-dark {
      background-image: url(../../images/bg-mobile-dark.jpg); } }

.container {
  width: 40%;
  margin: auto; }
  @media (max-width: 1000px) {
    .container {
      width: 60%; } }
  @media (max-width: 600px) {
    .container {
      width: 90%; } }

input[type="text"]:focus {
  box-shadow: none;
  outline: 0.4rem solid rgba(58, 123, 253, 0.2);
  outline-offset: 0.8rem; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400; }

input[type="text"] {
  font-size: inherit;
  font-family: inherit; }

.section-to-do__metrics {
  font-size: 1.6rem; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 9.6rem; }
  .attribution a {
    color: #3e52a3; }

.btn {
  background-color: transparent;
  border: none;
  padding: 1.8rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .btn-checkbox {
    border: 1px solid #e4e5f1;
    border-radius: 50%;
    padding: 1.2rem; }
    .btn-checkbox-dark {
      border: 1px solid #393a4c; }
    .btn-checkbox:hover {
      border: 1px solid #57ddff; }
  .btn-close {
    background-image: url(../../images/icon-cross.svg);
    opacity: 0; }
    .btn-close-dark {
      filter: invert(50%); }
  .btn-completed {
    background: url(../../images/icon-check.svg), linear-gradient(135deg, #57ddff 0%, #bf59f2 100%);
    background-position: center center;
    background-repeat: no-repeat; }

.section-to-do__metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  color: #9394a5;
  padding: 1.8rem;
  position: relative;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit; }
  .section-to-do__metrics-nav {
    position: relative; }
    @media (max-width: 600px) {
      .section-to-do__metrics-nav {
        position: absolute;
        top: 125%;
        left: 0;
        width: 100%; } }
    .section-to-do__metrics-nav-list {
      display: flex;
      justify-content: space-evenly;
      gap: 1.2rem;
      padding: 1.8rem;
      list-style-type: none;
      color: #9394a5; }
      @media (max-width: 600px) {
        .section-to-do__metrics-nav-list {
          background-color: #fafafa;
          box-shadow: 0px 20px 50px rgba(210, 211, 219, 0.5);
          border-radius: 0.9rem; } }
      .section-to-do__metrics-nav-list li:hover {
        color: #484b6a; }
      .section-to-do__metrics-nav-list-dark {
        background-color: #25273c;
        color: #4d5066;
        box-shadow: 0px 20px 50px rgba(37, 39, 60, 0.5); }
        .section-to-do__metrics-nav-list-dark li:hover {
          color: #e4e5f1; }
      .section-to-do__metrics-nav-list li:active {
        color: #3a7bfd; }
      .section-to-do__metrics-nav-list li.active {
        color: #3a7bfd; }
  .section-to-do__metrics-clear-btn:hover {
    color: #484b6a; }
  .section-to-do__metrics-clear-btn-dark:hover {
    color: #e4e5f1; }
  .section-to-do__metrics-clear-btn:active {
    color: #3a7bfd; }
  .section-to-do__metrics-dark {
    border-bottom: none;
    background-color: #25273c;
    color: #4d5066; }

.section-to-do__items {
  background-color: #fafafa;
  padding: 1.8rem;
  border-bottom: 0.8px solid #e4e5f1;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit; }
  .section-to-do__items.section-to-do__new {
    border: none; }
  .section-to-do__items-textbox {
    border: none;
    width: 100%;
    background-color: transparent;
    color: #484b6a;
    cursor: pointer; }
    .section-to-do__items-textbox::placeholder {
      color: #9394a5; }
    .section-to-do__items-textbox-dark {
      color: #cacde8; }
      .section-to-do__items-textbox-dark::placeholder {
        color: #777a92; }
  .section-to-do__items:hover .btn-close {
    opacity: 1; }
  .section-to-do__items-dark {
    background-color: #25273c;
    color: #cacde8;
    border-bottom: 0.8px solid #393a4c; }

.textbox-completed {
  text-decoration: line-through;
  color: #d2d3db; }
  .textbox-completed-dark {
    color: #4d5066; }

.hide {
  display: none; }

.header {
  padding-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  min-height: 12rem;
  margin-bottom: 6.4rem; }
  .header__title {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #fafafa; }
  .header__toggle-button {
    align-self: flex-end;
    background-image: url(../../images/icon-moon.svg); }
  .header-toggle-button-dark {
    background-image: url(../../images/icon-sun.svg); }

.section-to-do__new {
  border-radius: 0.9rem;
  margin-bottom: 3.2rem;
  box-shadow: 0px 20px 50px rgba(210, 211, 219, 0.5); }
  .section-to-do__new-dark {
    box-shadow: 0px 20px 50px rgba(37, 39, 60, 0.5); }

.section-to-do__list {
  border-radius: 0.9rem;
  box-shadow: 0px 20px 50px rgba(210, 211, 219, 0.5);
  margin-bottom: 1.2rem;
  cursor: pointer;
  background-color: #fafafa; }
  .section-to-do__list-dark {
    background-color: #25273c;
    box-shadow: 0px 20px 50px rgba(37, 39, 60, 0.5); }

.section-to-do__instructions {
  color: #9394a5;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 3.2rem; }
  @media (max-width: 600px) {
    .section-to-do__instructions {
      margin-top: 9.6rem; } }
  .section-to-do__instructions-dark {
    color: #4d5066; }
