* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba($color-primary-bright-blue, 0.4);
}
html {
  font-size: 62.5%;
}
body {
  background-color: $color-light-very-light-gray;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 40vh;
  background-position: top center;
  height: 100vh;

  @media (max-width: 600px) {
    & {
      background-image: url(../../images/bg-mobile-light.jpg);
    }
  }
}
.body-bg-dark {
  background-color: $color-dark-very-dark-blue;
  background-image: url(../../images/bg-desktop-dark.jpg);

  @media (max-width: 600px) {
    & {
      background-image: url(../../images/bg-mobile-dark.jpg);
    }
  }
}
.container {
  width: 40%;
  margin: auto;

  @media (max-width: 1000px) {
    & {
      width: 60%;
    }
  }
  @media (max-width: 600px) {
    & {
      width: 90%;
    }
  }
}

input[type="text"]:focus {
  box-shadow: none;
  outline: 0.4rem solid rgba($color-primary-bright-blue, 0.2);
  outline-offset: 0.8rem;
}
