@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
}
input[type="text"] {
  font-size: inherit;
  font-family: inherit;
}
.section-to-do__metrics {
  font-size: 1.6rem;
}
